<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Wedding date:</strong>
  <%= @user.wedding_date %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @user.img_url %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @user.budget %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
