<p id="notice"><%= notice %></p>

<h1>Vendors</h1>
<h1><%= link_to 'Resorts', resorts_path %></h1>

<% @vendors.in_groups_of(3) do |group| %>
<div class="row">
  <% group.compact.each do |vendor| %>
  <div class="col-md-4">
    <h4><%= link_to vendor.name, vendor %></h4>
      <%= image_tag vendor.img_url %>
    <%= vendor.location %>
  </div>
  <% end %>
</div>
<% end %>

<%= link_to 'New Vendor', new_vendor_path %>
