
<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vendor.price %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @vendor.img_url %>
</p>

<p>
  <strong>Location:</strong>
  <%= @vendor.location %>
</p>

<p>
  <strong>Site url:</strong>
  <%= @vendor.site_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @vendor.user_id %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
