<p id="notice"><%= notice %></p>

<h1>Resorts</h1>
<h1> <%= link_to 'Vendors', vendors_path %></h1>


<% @resorts.in_groups_of(3) do |group| %>
<div class="row">
  <% group.compact.each do |resort| %>
  <div class="col-md-4">
    <h4><%= link_to resort.name, resort %></h4>
    <a href="<%= resort.site_url %>"><%= image_tag resort.img_url %></a>
  </div>

  <% end %>
  <% end %>
