
<h1><a href="#"><%= @resort.name %></a></h1>

<p>
  <strong>Price:</strong> $<%= @resort.price %>
</p>

<%= image_tag @resort.img_url %>

<p>
  <strong>Location:</strong>
  <%= @resort.location %>
</p>

<p>
  <strong>Users:</strong>
</p>

<%= link_to 'Edit', edit_resort_path(@resort) %> |
<%= link_to 'Back', resorts_path %>
